:root {
	--primary: #4D90FE;
	--secondary: #3477E6;
	--tertiary: #2567D5;
}
*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
}
html, body {
	width: 100%;
	height: 100dvh;
}
body {
	font: normal normal 400 1rem/1.5rem Roboto, sans-serif;
	background: #FFF;
	color: #323232;
}
a, a:visited {
	color:#153976;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

main {
	--header: 7rem;
	--footer: 4rem;
	--form: calc(100dvh - calc(var(--header) + var(--footer)));
	margin: 0 auto;
	position: relative;
	width: 680px;
	height: 100dvh;
}

header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: var(--header);
	position: relative;
	gap: 1rem;
	img {
		--size: 60px;
		width: var(--size);
		height: var(--size);
		object-fit: cover;
		border-radius: 10em;
	}
	h1 {
		font-weight: 400;
		line-height: 2rem;
		strong {
			font-weight: 600;
			display: block;
			font-size: 2rem;
		}
	}
}
h2 {
	text-align: center;
	padding: 1rem 0;
	margin: 1rem 0;
	font-size: clamp(2rem, 3vw, 1.325rem);
}
.lead {
	line-height: 1.6;
	display: block;
	width: 100%;
	margin: .5rem 0 1rem 0;
}
form {
	height: var(--form);
	overflow-y: auto;
	fieldset {
		position: relative;
		font-size: 0.875rem;
		padding: 0 1rem;
	}
	legend {
		color:var(--primary);
		position: relative;
		font-weight: 700;
		display: block;
		width: 100%;
		font-size: 1.52rem;
		padding: .5rem 0;
	}
	textarea, input:not([type="radio"], [type="chechbox"], [type="submit"]) {
		display: block;
		width: 100%;
		padding: .875rem 1rem;
		border-radius: .325rem;
		background: rgba(220,220,220,.25);
		border: 1px solid rgba(220,220,220,.5);
		box-sizing: border-box;
	}

	textarea {
		padding: 0.5rem;
		field-sizing: content;
	}

	dl {
		display: grid;
		grid-template-columns: 230px 1fr;
		gap: 1rem;
		padding: 1rem 0;
		dt {
			padding: 0.325rem;
			line-height: 1rem;
			label {
				display: block;
				font-weight: 600;
			}
			small	{
				font-size: 11px;
				font-style: italic;
			}
		}
		dd {
			vertical-align: middle;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			position: relative;
			&.flex-col {
				align-items: flex-start;
				flex-direction: column;
			}
		}
	}
}

#rules {
	list-style: none;
}
.valid { color: green; }
.invalid { color: red; }
.strength { margin-top: 1rem; font-weight: bold; }
.ok { border-color: green; }
.fail { border-color: red; }

.status {
	font-weight: bold;
	&.danger { color: darkred; }
	&.success { color: darkgreen; }
}
#strength {
	position: absolute;
	top: 1.75rem;
	right: .125rem;
	font-weight: 600;
	font-size: 0.75rem!important;
}

.error {
	background: #fff9da;
	padding: .5rem;
	border-radius: .325rem;
	margin: .5rem 0;
	color: #453A00;
}

.buttons {
	padding: 0.5rem 0;
	text-align: center;
	:where(button,input):is([type="submit"]) {
		background-color: var(--primary);
		border-radius: .325rem;
		color: white;
		cursor: pointer;
		display: inline-block;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		padding: .5rem 1rem;
		&:hover {
			background-color: var(--secondary);
		}
		&:active{
			background-color: var(--tertiary);
		}
	}
}	

footer {
	height: var(--footer);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	a {
		font-weight: bold;
	}
	small {
		font-size: 0.875rem;
	}
}